:root { 
--deep_orange_A400_2b:#ff3c002b; 
--gray_600_19:#6e6e6e19; 
--green_600:#44924c; 
--gray_50:#f8f9fd; 
--black_900:#000000; 
--teal_901:#002a3b; 
--teal_900:#003145; 
--gray_50_7c:#f8f9fd7c; 
--red_A700:#db1414; 
--gray_600:#808080; 
--gray_700:#666666; 
--gray_601:#858585; 
--gray_400:#b6b6b6; 
--gray_202:#eeeeee; 
--gray_401:#c4c4c4; 
--gray_802:#4f4f4f; 
--gray_800:#444444; 
--gray_801:#454545; 
--bluegray_100:#d9d9d9; 
--amber_300:#ffce5c; 
--green_600_3d:#44924c3d; 
--teal_50:#dde6ed; 
--gray_200:#ececec; 
--gray_201:#e9e9e9; 
--gray_600_28:#83838328; 
--gray_100:#f4f4f4; 
--bluegray_900:#333333; 
--bluegray_600:#64607d; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
--amber_300_3f:#f2c94c3f; 
}